
.yl{
    background: yellow;
}
/* reset.css*/ 

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

input,button{
    border: none;
}

div{
    margin: 0;
    padding: 0;
    display: block;
}

a{
    text-decoration: none;
    color: #000000;
}


h3{
    display: inline;
}
/* class */
.left{
    float: left;
}

.right{
    float:right;
}

.clearfloat:after{
    content: "";
    visibility: hidden;
    height: 0;
    display: block;
    clear: both;
}

.clearfloat{
    zoom: 1;
} 

.hide{
    display: none;
}

.show{
    display: block;
}

.hot{
    color:red;
}
// index.css
html{
    box-sizing: border-box;
}
body{
    font-family:"Microsoft YaHei UI";
    
}

.container{
    position: relative;
    margin: 0 auto;
    width: 1000px;
}

/* index.css*/ 

/* 主页顶部 */
.index-top{
    height: 30px;
    background: #f7f7f7;
    font-size: 12px;
    color: #666666;
    .starsite{
        margin-top: 8px;
        font-weight: bold;
        background: url(../images/star.png) no-repeat;
        padding-left: 17px;
        line-height: 12px;
    }
    .login_signup{
        margin-top: 8px;
        .wellcome{
            margin-right: 10px;
        }
    }
}

/* 主页头部 */
.index-headbar{
    height: 85px;
    background: #1d7ad9;
    .logo{
        margin-top: 23px;
        margin-left: 39px;
    }
    .search{
        margin-left: 185px;
        margin-top: 23px;
        background: #fff;
        .search_input{
            width: 350px;
            height: 35px;
            padding-left: 10px;
            background: #fff;
        }
        .search_btn{
            width: 69px;
            height: 35px;
            font-size: 14px;
            text-align: center;
            color: #ffffff;
            background: #ff8c00;
        }
    }
    .shopcar{
        margin-left: 31px;
        margin-top: 23px;
        height: 35px;
        background: #ff8c00;
        .shopcar-text{
            display: inline-block;
            height: 35px;
            width: 67px;
            line-height: 35px;
            padding-left: 40px;
            border-right: 1px solid #e27a00;
            background: url(../images/shopcar.png) no-repeat 10px center;
            color: #ffffff;
        }
        .shopcar-number{
            display: inline-block;
            height: 35px;
            line-height: 35px;
            width: 36px;
            margin-left: 0;
            padding-left: 19px;
            border-left: 1px solid #ff9c01;
            color: #ffffff;
            background: url(../images/shopNum.png) no-repeat 33px center;
        }
    }
}

/* 主页导航部分*/
.index-navbar{
    background: #1369c0;
    .categories{
        width: 189px;
        height: 36px;
        position: relative;
        h3{
            color: #ffffff;
            line-height: 36px;
            font-size: 16px;
            margin-left: 38px;
            .icon{
                display: inline-block;
                width: 11px;
                height: 7px;
                margin-left: 10px;
                background: url(../images/icon_v.png) no-repeat;
            }
        }
        .categorie{
            position: absolute;
            z-index:2;
            width: 100%;
            left: 0;
            top: 36px;
            .item{
                padding: 10px 10px;
                background: #4593fd;
                border-top: 1px solid #5aa1fe;
                border-bottom: 1px solid #3487f2;
                dt{
                    height: 22px;
                    background: url(../images/icon_triangle_r.png) right center no-repeat;
                    a{  
                        font-size: 14px;
                        color:#f6f9ff;
                    }
                }
                dd{ 
                    height: 21px;
                    a{  
                        font-family:"宋体";
                        font-size:12px;
                        color: #c2d9f8;
                    }
                }
                a{
                    &:hover{
                        color:#ff7300;
                    }
                }
                .alink{
                    display: inline-block;
                    width: 48px;
                    height: 18px;
                    background: url(../images/a_link.png) left center no-repeat;
                    text-align: center;
                    font-size:12px;
                    font-family:"新宋体";
                    color:#ffffff;
                    text-decoration: underline;
                }
            }
            .active{
                background: #ffffff;
                border-left: 1px solid #4593fd;
                dt,dd{
                    background: none;
                    a{
                    color:#000000;
                }}
                .alink{
                    color:#ffffff;
                }
            }
        }
        .series{
            width: 568px;
            position: absolute;
            top: 36px;
            left: 189px;
            border: 1px solid gray;
            .series_float{
                padding: 0 20px;
            }
            dl{
                padding: 10px 0;
                border-bottom: 1px solid #e5e5e5;
                dt{ 
                    line-height: 24px;
                    margin-right: 14px;
                    font-size: 12px;
                    font-weight: bold;
                    font-family: "宋体";
                    color:#4b88da;
                }
                dd{
                    line-height: 24px;
                    margin-top: -24px;
                    padding-left: 68px;
                    font-size: 12px;
                    font-family: "宋体";
                    a{
                        margin-right: 12px;
                        color: #666666;
                        &:hover{
                            color:#ff7300;
                        }
                    }
                }
            }
            .series_more{
                padding:15px 0;
                .series_more-btn{
                    display: inline-block;
                    width: 106px;
                    height: 26px;
                    margin-right: 10px;
                    background: #2785e6;
                    text-align: center;
                    line-height: 26px;
                    font-size: 12px;
                    color:#ffffff;
                    span{
                        display: inline-block;
                        width: 5px;
                        height: 8px;
                        margin-left: 8px;
                        background: url(../images/icon_triangle_white.png) no-repeat;
                    }
                }
            }
        }
    }
    
    .nav{
        line-height: 36px;
        text-align: center;
        li{
            width: 100px;
            float: left;
            a{
                color: #ffffff;
            }
        }
        .active{
            background: #000;
        }
    }
   
}

/* 主banner区 */ 
.banner_bar,.banner_imgsbox img{
    width: 811px;
    height: 324px;
}
.main_banner{
    margin-bottom: 15px;
    .banner_bar{
        width: 811px;
        height: 325px;
        position: relative;
        overflow: hidden;
        .banner_imgsbox{
            width: 1622px;
            position: absolute;
            top: 0;
            left: 0;
            li{
                float: left;
                img{
                    width: 811px;
                    height: 325px;
                }
            }
        }
        .img_num{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            text-align: center;
            a{
                display:inline-block;
                width: 24px;
                height: 8px;
                margin-right: 10px;;
                background: #ffffff;
                
            }
            .active{
                background: #ff7700;
            }
        }
    }
}


/* floor区*/ 
.index-floor{
    .floor-title{
        margin-bottom: 14px;
        height: 45px;
        line-height: 45px;
        .icon{
            width: 44px;
            height: 45px;
            background: url(../images/icon_floor_title.png) no-repeat;
        }
        h4{
            margin-left: 12px;
            font-size: 24px;
            font-weight: normal;
            a{color: #000}
        }
        .more{
            margin-right: 14px;
            &:hover{
                text-decoration: underline;
            }
        }
    }

    .floor-main{
        margin-bottom: 15px;
        .floor-banner{
            height: 400px;
            width: 190px;
            overflow: hidden;
            position: relative;
            .banner-box{
                position: absolute;
                top: 0;
                left: 0;
                width: 190px;
                .banner-item{
                    img{
                        height: 400px;
                        width: 190px;
                    }
                }
            }
        }
        .floor-item_wrap{
            border-top:1px solid #e5e5e5;
            border-bottom: 3px solid #ff7201;
            .floor-item{
                float:left;
                width: 199px;
                height: 397px;
                border-right:1px solid #e5e5e5;
                .floor-item-up{
                    width: 199px;
                    height: 279px;
                    border-bottom: 1px solid #e5e5e5;
                    text-align:center;
                    .commodity_pic{
                        display: inline-block;
                        height: 151px;
                        max-width: 136px;
                        margin-top: 44px;
                        margin-bottom: 22px;
                    }
                    .commodity_price{
                        color: #ff7300;
                    }
                }
                .floor-item-down{
                    width: 199px;
                    height: 116px;
                    a{
                        display: block;
                        margin-top: 15px;    
                    }
                    .small_commodity_pic{
                        margin-left: 8px;
                        width: 80px;
                        height: 86px;
                        line-height: 86px;
                        text-align: center;
                        img{vertical-align:middle;}
                    }
                    .small_commodity_name{
                        width: 98px;
                        line-height:19px;
                        margin-left: 6px;
                        margin-right: 6px;
                        padding-top: 12px;
                        font-size:12px;
                        font-family:"NSimSun";
                        font-weight:normal;
                    }
                    .commodity_price{
                        background: url(../images/icon_price_mark.png) left center no-repeat;
                        padding-left: 12px;
                        line-height: 22px;
                        margin-left: 6px;
                        font-size:16px;
                        font-family:"Microsoft YaHei"
                    }
                }
            }
        }
    }
}

/* 主页页脚 */
.hr{
    height: 35px;
}
.index-footer{
    height: 168px;    
    background: #d4d4d4;
    text-align: center;
    font-size: 12px;
    padding-top: 1px;
    .footer-info{
        line-height: 23px;
        padding-top: 55px;
    }
}