$wryh:'Microsoft YaHei'; //微软雅黑
$st:'SimSun'; //宋体
$xst:'NSimSun'; //新宋体
$ht:'SimHei'; //黑体
$fs:'FangSong'; //仿宋
$yoy:'YouYuan'; //幼圆
.review_main,
.hr {
    background: #f0f0f0;
}

.path {
    span {
        margin-left: 2px;
        font-weight: bold;
    }
    height: 42px;
    line-height:42px;
    padding-top:10px;
    font-size: 12px;
    color: #555;
    a {
        margin: 0 7px;
    }
}

.detail {
    border: 1px solid #cccccc;
    background: #ffffff;
    .item_info_l {
        border-right: 1px solid #cccccc;
        width: 309px;
        height: 100%;
        .preview {
            width: 309px;
            height: 328px;
            line-height: 341px;
            text-align: center;
            img {
                max-width: 309px;
                vertical-align: middle;
            }
        }
        .preview_list {
            margin-left: 21px;
            height: 52px;
            padding: 13px 0;
            .preview_list-item {
                float: left;
                width: 52px;
                height: 52px;
                border: 1px solid #ccc;
                border-collapse: collapse;
                text-align: center;
                img {
                    max-width: 52px;
                    max-height: 52px;
                    vertical-align: middle;
                }
            }
        }
    }
    .item_info_r {
        .des_wrap {
            padding: 10px;
            width: 668px;
        }
        .title {
            display: inline-block;
            padding: 15px 14px;
            line-height: 22px;
            font-size: 16px;
            margin-top: 3px;
        }
        .dl {
            margin-bottom: 16px;
            color: #666666;
            .dt,
            .dd {
                font-size: 12px;
                font-family: $xst;
                float: left;
            }
            .dt {
                width: 75px;
                height: 100%;
                text-indent: 14px;
            }
            //price
            .price_title {
                line-height: 33px;
            }
            .price {
                color: #d70000;
                font-weight: bold;
                font-family: $wryh;
                font-size: 22px;
                line-height: 23px;
                em {
                    line-height: 33px;
                    font-style: normal;
                    font-size: 12px;
                }
            }
            //hg
            .hg_title {
                line-height: 18px;
            }
            .hg {
                line-height: 18px;
                .hg_tag {
                    display: inline-block;
                    margin: 0 4px;
                    width: 54px;
                    height: 18px;
                    font-style: normal;
                    color: #fff;
                    text-indent: 14px;
                    background: url(../images/reviewpage_orange_tag.png) no-repeat;
                }
            }
        }
        //shopping_select_wrap
        .shopping_select_wrap {
            box-sizing: border-box;
            width: 668px;
            padding: 18px 0;
            background: #f2f2f2;
            .arrive_title,
            .in_stock {
                line-height: 24px;
            }
            .select {
                width: 130px;
                height: 22px;
                background: #fff;
                line-height: 22px;
                padding-left: 6px;
                padding-right: 27px;
                position: relative;
                z-index: 4;
                border: 1px solid #bfbfbf;
                .select_local,
                h3 {
                    font-weight: normal;
                    font-family: $xst;
                    font-size: 12px;
                }
                .icon_triangle {
                    position: absolute;
                    top: 9px;
                    right: 9px;
                    display: inline-block;
                    width: 0px;
                    height: 0;
                    border-top: 4px solid #317ee7;
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                }
            }
            .select_local-list {
                width: 100%;
                background: #fff;
                position: absolute;
                left: -1px;
                top: 22px;
                border: 1px solid #bfbfbf;
            }
            .select_local-item {
                margin-left: 6px;
            }
            .in_stock {
                margin-left: 12px;
            }
            .color_select-title {
                line-height: 34px;
            }
            .color_select,
            .format_select {
                display: inline-block;
                background: #fff;
                border: 1px solid #bfbfbf;
                text-align: center;
                &:hover {
                    border: 1px solid #317ee7;
                    cursor: pointer;
                }
            }
            .color_select {
                padding: 0 28px;
                height: 32px;
                line-height: 32px;
            }
            .format_select-title {
                line-height: 60px;
            }
            .format_select-list {
                width: 510px;
                .format_select {
                    padding: 0 8px;
                    height: 24px;
                    line-height: 24px;
                    margin-bottom: 8px;
                    margin-right: 10px;
                }
            }
        }
    }
}