@charset "UTF-8";
.review_main,
.hr {
  background: #f0f0f0; }

.path {
  height: 42px;
  line-height: 42px;
  padding-top: 10px;
  font-size: 12px;
  color: #555; }
  .path span {
    margin-left: 2px;
    font-weight: bold; }
  .path a {
    margin: 0 7px; }

.detail {
  border: 1px solid #cccccc;
  background: #ffffff;
  margin-bottom: 14px; }
  .detail .item_info_l {
    width: 309px;
    height: 100%; }
    .detail .item_info_l .preview {
      width: 309px;
      height: 328px;
      line-height: 341px;
      text-align: center; }
      .detail .item_info_l .preview img {
        max-width: 309px;
        vertical-align: middle; }
    .detail .item_info_l .preview_list {
      margin-left: 21px;
      height: 52px;
      padding: 13px 0; }
      .detail .item_info_l .preview_list .preview_list-item {
        float: left;
        width: 52px;
        height: 52px;
        border: 1px solid #ccc;
        border-collapse: collapse;
        text-align: center; }
        .detail .item_info_l .preview_list .preview_list-item img {
          max-width: 52px;
          max-height: 52px;
          vertical-align: middle; }
  .detail .item_info_r .des_wrap {
    padding: 10px;
    width: 667px;
    border-left: 1px solid #cccccc; }
  .detail .item_info_r .title {
    display: inline-block;
    padding: 15px 14px;
    line-height: 22px;
    font-size: 16px;
    margin-top: 3px; }
  .detail .item_info_r .dl {
    margin-bottom: 16px;
    color: #666666; }
    .detail .item_info_r .dl .dt,
    .detail .item_info_r .dl .dd {
      font-size: 12px;
      font-family: "NSimSun";
      float: left; }
    .detail .item_info_r .dl .dt {
      width: 75px;
      height: 100%;
      text-indent: 14px; }
    .detail .item_info_r .dl .price_title {
      line-height: 33px; }
    .detail .item_info_r .dl .price {
      color: #d70000;
      font-weight: bold;
      font-family: "Microsoft YaHei";
      font-size: 22px;
      line-height: 23px; }
      .detail .item_info_r .dl .price em {
        line-height: 33px;
        font-style: normal;
        font-size: 12px; }
    .detail .item_info_r .dl .hg_title {
      line-height: 18px; }
    .detail .item_info_r .dl .hg {
      line-height: 18px; }
      .detail .item_info_r .dl .hg .hg_tag {
        display: inline-block;
        margin: 0 4px;
        width: 54px;
        height: 18px;
        font-style: normal;
        color: #fff;
        text-indent: 14px;
        background: url(../images/reviewpage_orange_tag.png) no-repeat; }
  .detail .item_info_r .shopping_select_wrap {
    box-sizing: border-box;
    width: 668px;
    padding: 18px 0;
    background: #f2f2f2;
    margin-bottom: 18px; }
    .detail .item_info_r .shopping_select_wrap .arrive_title,
    .detail .item_info_r .shopping_select_wrap .in_stock {
      line-height: 24px; }
    .detail .item_info_r .shopping_select_wrap .select {
      width: 130px;
      height: 22px;
      background: #fff;
      line-height: 22px;
      padding-left: 6px;
      padding-right: 27px;
      position: relative;
      z-index: 4;
      border: 1px solid #bfbfbf; }
      .detail .item_info_r .shopping_select_wrap .select .select_local,
      .detail .item_info_r .shopping_select_wrap .select h3 {
        font-weight: normal;
        font-family: "NSimSun";
        font-size: 12px; }
      .detail .item_info_r .shopping_select_wrap .select .icon_triangle {
        position: absolute;
        top: 9px;
        right: 9px;
        display: inline-block;
        width: 0px;
        height: 0;
        border-top: 4px solid #317ee7;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent; }
    .detail .item_info_r .shopping_select_wrap .select_local-list {
      width: 100%;
      background: #fff;
      position: absolute;
      left: -1px;
      top: 22px;
      border: 1px solid #bfbfbf; }
    .detail .item_info_r .shopping_select_wrap .select_local-item {
      margin-left: 6px; }
    .detail .item_info_r .shopping_select_wrap .in_stock {
      margin-left: 12px; }
    .detail .item_info_r .shopping_select_wrap .color_select-title {
      line-height: 34px; }
    .detail .item_info_r .shopping_select_wrap .color_select,
    .detail .item_info_r .shopping_select_wrap .format_select {
      display: inline-block;
      background: #fff;
      border: 1px solid #bfbfbf;
      text-align: center; }
      .detail .item_info_r .shopping_select_wrap .color_select:hover,
      .detail .item_info_r .shopping_select_wrap .format_select:hover {
        border: 1px solid #317ee7;
        cursor: pointer; }
    .detail .item_info_r .shopping_select_wrap .color_select {
      padding: 0 28px;
      height: 32px;
      line-height: 32px; }
    .detail .item_info_r .shopping_select_wrap .format_select-title {
      line-height: 60px; }
    .detail .item_info_r .shopping_select_wrap .format_select-list {
      width: 510px; }
      .detail .item_info_r .shopping_select_wrap .format_select-list .format_select {
        padding: 0 8px;
        height: 24px;
        line-height: 24px;
        margin-bottom: 8px;
        margin-right: 10px; }
    .detail .item_info_r .shopping_select_wrap .amount-title {
      line-height: 34px; }
    .detail .item_info_r .shopping_select_wrap .amount_compute_wrap {
      width: 82px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      border: 1px solid #b2b2b2; }
      .detail .item_info_r .shopping_select_wrap .amount_compute_wrap .amount_compute {
        display: inline-block;
        width: 15px;
        height: 30px;
        background: #f3f3f3; }
      .detail .item_info_r .shopping_select_wrap .amount_compute_wrap .amount_num {
        height: 30px;
        border: none;
        text-align: center;
        border-left: 1px solid #b2b2b2;
        border-right: 1px solid #b2b2b2;
        width: 50px; }
  .detail .item_info_r .selected-title {
    line-height: 22px; }
  .detail .item_info_r .selected {
    line-height: 20px; }
  .detail .item_info_r .selected {
    color: #0479ca; }
  .detail .item_info_r .addbuybtn_box {
    width: 523px;
    text-align: center;
    height: 90px;
    margin-bottom: 14px; }
    .detail .item_info_r .addbuybtn_box .addbuybtn {
      display: inline-block;
      vertical-align: middle;
      height: 22px;
      text-align: center;
      background: #f98700;
      color: #fff;
      padding: 14px 18px; }
      .detail .item_info_r .addbuybtn_box .addbuybtn .icon_car {
        margin: 0;
        margin-right: 5px;
        padding: 0;
        display: inline-block;
        width: 22px;
        height: 19px;
        margin-bottom: 5px;
        vertical-align: middle;
        overflow: hidden;
        background: url(../images/shopcar.png) no-repeat; }
    .detail .item_info_r .addbuybtn_box .line_h90 {
      display: inline-block;
      margin: 0 34px;
      height: 90px;
      overflow: hidden;
      width: 1px;
      background: #e5e5e5;
      vertical-align: middle; }
  .detail .item_info_r .zy {
    text-indent: 14px; }

.sidebar {
  width: 188px; }
  .sidebar .aside {
    width: 188px;
    background: #ffffff;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-top: 3px solid #1d86cf; }
    .sidebar .aside .title {
      width: 188px;
      height: 39px;
      background: #f3f3f3;
      line-height: 39px;
      border-bottom: 1px solid #cccccc;
      font-size: 14px;
      text-indent: 14px; }
    .sidebar .aside .item {
      width: 166px;
      padding-left: 12px;
      padding-bottom: 3px;
      font-size: 12px; }
      .sidebar .aside .item .pic {
        height: 156px;
        width: 156px;
        line-height: 156px;
        text-align: center; }
        .sidebar .aside .item .pic img {
          display: inline-block;
          max-width: 156px;
          max-height: 156px;
          vertical-align: middle; }
      .sidebar .aside .item .name {
        width: 180px;
        font-family: "NSimSun";
        font-size: 12px;
        color: #999999;
        line-height: 18px;
        padding: 0; }
      .sidebar .aside .item .price {
        font-family: "Microsoft YaHei";
        line-height: 21px;
        color: #e34242; }

.product-intro {
  width: 788px;
  font-size: 12px;
  /* 广告位 */
  /*  商品评价 */
  /* 咨询 */ }
  .product-intro .product-intro-tabbar {
    width: 786px;
    height: 40px; }
    .product-intro .product-intro-tabbar .tab {
      width: 100%;
      height: 40px; }
      .product-intro .product-intro-tabbar .tab .tab-item {
        box-sizing: border-box;
        background: #f3f3f3;
        float: left;
        width: 50%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border: 1px solid #cccccc; }
        .product-intro .product-intro-tabbar .tab .tab-item .spjs {
          display: inline-block;
          width: 20px;
          height: 15px;
          margin-right: 10px;
          background: url(../images/reviewpage_icon_cpjs.png) no-repeat; }
        .product-intro .product-intro-tabbar .tab .tab-item .sppj {
          display: inline-block;
          width: 19px;
          height: 23px;
          margin-right: 10px;
          background: url(../images/reviewpage_icon_sppj.png) bottom no-repeat; }
      .product-intro .product-intro-tabbar .tab .active {
        background: #0479ca;
        border: none; }
        .product-intro .product-intro-tabbar .tab .active a {
          color: #ffffff; }
  .product-intro .product_desciption {
    padding: 10px;
    background: #ffffff;
    border: 1px solid #cccccc;
    margin-bottom: 15px; }
  .product-intro .ad {
    width: 760px;
    text-align: center; }
    .product-intro .ad .ad_img {
      padding: 28px 0;
      display: inline-block;
      max-width: 760px; }
  .product-intro .desciption-item {
    padding-bottom: 18px; }
    .product-intro .desciption-item .desciption-item-title {
      width: 760px;
      height: 36px;
      line-height: 36px;
      border-bottom: 4px solid #d7d7d7; }
      .product-intro .desciption-item .desciption-item-title h3 {
        display: inline-block;
        height: 36px;
        padding: 0 10px;
        font-size: 16px;
        line-height: 36px;
        color: #2457a6;
        border-bottom: 4px solid #2457a6; }
    .product-intro .desciption-item .desciption-item-desc {
      width: 760px;
      padding: 15px 0;
      color: #666666;
      font-family: "SimSun";
      font-size: 14px;
      line-height: 22px; }
    .product-intro .desciption-item .desciption-item-pic {
      display: inline-block;
      max-width: 760px;
      background: #fff;
      margin-top: 5px;
      margin-bottom: 5px; }
  .product-intro .product-reviewbar,
  .product-intro .product-reviewbar > * {
    box-sizing: border-box; }
  .product-intro .product-reviewbar {
    border: 1px solid #cccccc;
    margin-bottom: 15px;
    /* 评价详情栏 */ }
    .product-intro .product-reviewbar .product-review_score_box {
      height: 160px;
      background: #ffffff;
      padding: 10px; }
      .product-intro .product-reviewbar .product-review_score_box .product-review_score-title {
        font-size: 14px;
        font-family: "NSimSun";
        line-height: 22px;
        text-indent: 2px;
        margin-bottom: 15px; }
    .product-intro .product-reviewbar .product-review_score .product-review_score-l .product-review_score-score {
      font-size: 18px;
      color: #66667d; }
      .product-intro .product-reviewbar .product-review_score .product-review_score-l .product-review_score-score .review_score_num {
        font-size: 50px;
        color: #ff8f00; }
    .product-intro .product-reviewbar .product-review_score .product-review_score-r {
      margin-left: 10px; }
      .product-intro .product-reviewbar .product-review_score .product-review_score-r .product-review_score-speed {
        width: 450px;
        height: 16px;
        margin-top: 10px;
        background: #bdbdbd;
        color: #ffffff;
        font-size: 12px;
        position: relative; }
        .product-intro .product-reviewbar .product-review_score .product-review_score-r .product-review_score-speed .product-review_score-speed-text {
          height: 100%; }
          .product-intro .product-reviewbar .product-review_score .product-review_score-r .product-review_score-speed .product-review_score-speed-text li {
            float: left;
            font-family: "NSimSun"; }
          .product-intro .product-reviewbar .product-review_score .product-review_score-r .product-review_score-speed .product-review_score-speed-text .score_01 {
            width: 114px;
            text-indent: 26px; }
          .product-intro .product-reviewbar .product-review_score .product-review_score-r .product-review_score-speed .product-review_score-speed-text .score_02 {
            width: 82px; }
          .product-intro .product-reviewbar .product-review_score .product-review_score-r .product-review_score-speed .product-review_score-speed-text .score_03 {
            width: 76px; }
          .product-intro .product-reviewbar .product-review_score .product-review_score-r .product-review_score-speed .product-review_score-speed-text .score_04 {
            width: 65px; }
        .product-intro .product-reviewbar .product-review_score .product-review_score-r .product-review_score-speed .score_num_icon {
          width: 25px;
          height: 18px;
          top: -21px;
          left: 91%;
          text-align: center;
          background: #fff;
          position: absolute; }
          .product-intro .product-reviewbar .product-review_score .product-review_score-r .product-review_score-speed .score_num_icon span {
            display: inline-block;
            width: 25px;
            height: 14px;
            line-height: 14px;
            background: #7f7f7f;
            margin-bottom: 4px; }
          .product-intro .product-reviewbar .product-review_score .product-review_score-r .product-review_score-speed .score_num_icon i {
            border-top: 4px solid #7f7f7f;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent; }
      .product-intro .product-reviewbar .product-review_score .product-review_score-r .product-review_count {
        margin-top: 12px;
        font-size: 12px;
        color: #66667d; }
    .product-intro .product-reviewbar .product-review_degree-tab {
      height: 33px;
      background: #f2f2f2; }
      .product-intro .product-reviewbar .product-review_degree-tab .degree .degree-list {
        margin-left: 20px; }
      .product-intro .product-reviewbar .product-review_degree-tab .degree .degree-item {
        height: 29px;
        line-height: 29px;
        float: left;
        padding: 0 6px;
        color: #000000;
        margin-right: 40px; }
        .product-intro .product-reviewbar .product-review_degree-tab .degree .degree-item:hover {
          color: #317ee7;
          border-bottom: 4px solid #317ee7; }
      .product-intro .product-reviewbar .product-review_degree-tab .degree .active {
        color: #317ee7;
        border-bottom: 4px solid #317ee7; }
      .product-intro .product-reviewbar .product-review_degree-tab .sort {
        height: 32px; }
        .product-intro .product-reviewbar .product-review_degree-tab .sort .sort-list {
          margin-top: 5px;
          margin-right: 6px; }
        .product-intro .product-reviewbar .product-review_degree-tab .sort .sort-item {
          float: left;
          height: 20px;
          padding: 0 5px;
          line-height: 20px;
          border: 1px solid #cdcdcd; }
          .product-intro .product-reviewbar .product-review_degree-tab .sort .sort-item span {
            display: inline-block;
            margin-left: 4px;
            padding-top: 2px; }
            .product-intro .product-reviewbar .product-review_degree-tab .sort .sort-item span em {
              margin-left: 3px;
              display: block;
              width: 5px;
              height: 5px;
              background: #000; }
            .product-intro .product-reviewbar .product-review_degree-tab .sort .sort-item span i {
              display: block;
              border-top: 6px solid #000;
              border-right: 5px solid transparent;
              border-left: 6px solid transparent; }
    .product-intro .product-reviewbar .product-review_all {
      background: #ffffff; }
      .product-intro .product-reviewbar .product-review_all .product-review_all-item {
        padding-bottom: 35px; }
        .product-intro .product-reviewbar .product-review_all .product-review_all-item .review_user {
          padding-left: 40px;
          padding-top: 18px;
          text-align: center; }
          .product-intro .product-reviewbar .product-review_all .product-review_all-item .review_user .review_user_avatar {
            width: 60px;
            height: 60px;
            margin-bottom: 5px; }
          .product-intro .product-reviewbar .product-review_all .product-review_all-item .review_user .review_user_id,
          .product-intro .product-reviewbar .product-review_all .product-review_all-item .review_user .review_user_name {
            line-height: 18px;
            color: #77778c; }
        .product-intro .product-reviewbar .product-review_all .product-review_all-item .the_review {
          padding-top: 23px;
          margin-left: 72px; }
          .product-intro .product-reviewbar .product-review_all .product-review_all-item .the_review .star_degeree {
            margin-bottom: 18px; }
            .product-intro .product-reviewbar .product-review_all .product-review_all-item .the_review .star_degeree .star {
              display: inline-block;
              width: 13px;
              height: 13px;
              background: url(../images/star.png) no-repeat; }
            .product-intro .product-reviewbar .product-review_all .product-review_all-item .the_review .star_degeree .star_num {
              font-weight: bold; }
          .product-intro .product-reviewbar .product-review_all .product-review_all-item .the_review .the_user_review {
            color: #777777;
            margin-bottom: 14px; }
          .product-intro .product-reviewbar .product-review_all .product-review_all-item .the_review .good_or_bad {
            color: #085c9b; }
            .product-intro .product-reviewbar .product-review_all .product-review_all-item .the_review .good_or_bad a {
              color: #085c9b;
              margin-right: 12px; }
        .product-intro .product-reviewbar .product-review_all .product-review_all-item .review_time {
          color: #777777;
          padding-top: 26px;
          padding-right: 24px; }
  .product-intro .product-advisory {
    background: #ffffff; }
    .product-intro .product-advisory .page {
      margin-left: 462px; }
    .product-intro .product-advisory .product-advisory-top {
      height: 33px;
      color: #076ebb;
      border-bottom: 1px solid #076ebb; }
      .product-intro .product-advisory .product-advisory-top .advisory-top-title {
        height: 32px;
        line-height: 40px;
        font-size: 14px;
        font-family: "SimSun";
        border: 1px solid #076ebb;
        border-bottom: 1px solid #ffffff;
        padding-left: 18px;
        padding-right: 14px; }
      .product-intro .product-advisory .product-advisory-top .seed_advisory {
        line-height: 36px;
        margin-right: 26px; }
    .product-intro .product-advisory .product-advisory-prompt {
      box-sizing: border-box;
      margin-top: 10px;
      margin-left: 21px;
      margin-bottom: 28px;
      padding: 8px 20px;
      line-height: 25px;
      width: 754px;
      background: #f3f3f3;
      font-family: "SimSun"; }
    .product-intro .product-advisory .product-advisory-item {
      padding-bottom: 36px; }
      .product-intro .product-advisory .product-advisory-item .advisory_user {
        margin-left: 64px; }
        .product-intro .product-advisory .product-advisory-item .advisory_user .advisory_user_name,
        .product-intro .product-advisory .product-advisory-item .advisory_user .advisory_user_id {
          text-align: center; }
      .product-intro .product-advisory .product-advisory-item .the_advisory {
        margin-left: 30px;
        width: 606px;
        font-family: "SimSun"; }
        .product-intro .product-advisory .product-advisory-item .the_advisory .zx_box {
          margin-bottom: 14px; }
          .product-intro .product-advisory .product-advisory-item .the_advisory .zx_box .zx {
            font-weight: bold; }
          .product-intro .product-advisory .product-advisory-item .the_advisory .zx_box .zx_time {
            margin-right: 12px;
            color: #777777; }
        .product-intro .product-advisory .product-advisory-item .the_advisory .question,
        .product-intro .product-advisory .product-advisory-item .the_advisory .answer {
          color: #777777; }
        .product-intro .product-advisory .product-advisory-item .the_advisory .question {
          margin-bottom: 14px; }
        .product-intro .product-advisory .product-advisory-item .the_advisory .boxtri {
          position: absolute;
          top: -5px;
          left: 29px;
          display: inline-block;
          width: 0;
          border-bottom: 5px solid #f1f1f1;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent; }
        .product-intro .product-advisory .product-advisory-item .the_advisory .answer {
          position: relative;
          box-sizing: border-box;
          position: relative;
          width: 604px;
          background: #f1f1f1;
          padding: 20px 28px; }
          .product-intro .product-advisory .product-advisory-item .the_advisory .answer span {
            font-weight: bold;
            color: #000000; }

.page {
  margin-left: 274px;
  padding-bottom: 20px; }
  .page .page_num_btn {
    text-align: center; }
    .page .page_num_btn a {
      display: inline-block;
      line-height: 23px;
      height: 23px;
      padding: 0 8px;
      border: 1px solid #999;
      margin-right: 5px; }
    .page .page_num_btn .hl {
      display: inline-block;
      line-height: 26px;
      padding: 0px 12px;
      margin-right: 5px; }
  .page .jump_page .jump_page-font {
    line-height: 22px; }
  .page .jump_page .page_num {
    height: 22px;
    width: 35px;
    line-height: 22px;
    margin: 0 3px;
    border: 1px solid #CCC;
    text-align: center; }
  .page .jump_page .ok_btn {
    margin-left: 12px;
    border: 1px solid #707070;
    border-radius: 3px; }

/*# sourceMappingURL=review.css.map */
