$wryh:'Microsoft YaHei'; //微软雅黑
$st:'SimSun'; //宋体
$xst:'NSimSun'; //新宋体
$ht:'SimHei'; //黑体
$fs:'FangSong'; //仿宋
$yoy:'YouYuan'; //幼圆
.review_main,
.hr {
    background: #f0f0f0;
}

.path {
    span {
        margin-left: 2px;
        font-weight: bold;
    }
    height: 42px;
    line-height:42px;
    padding-top:10px;
    font-size: 12px;
    color: #555;
    a {
        margin: 0 7px;
    }
}

.detail {
    border: 1px solid #cccccc;
    background: #ffffff;
    margin-bottom: 14px;
    .item_info_l {
        width: 309px;
        height: 100%;
        .preview {
            width: 309px;
            height: 328px;
            line-height: 341px;
            text-align: center;
            img {
                max-width: 309px;
                vertical-align: middle;
            }
        }
        .preview_list {
            margin-left: 21px;
            height: 52px;
            padding: 13px 0;
            .preview_list-item {
                float: left;
                width: 52px;
                height: 52px;
                border: 1px solid #ccc;
                border-collapse: collapse;
                text-align: center;
                img {
                    max-width: 52px;
                    max-height: 52px;
                    vertical-align: middle;
                }
            }
        }
    }
    .item_info_r {
        .des_wrap {
            padding: 10px;
            width: 667px;
            border-left: 1px solid #cccccc;
        }
        .title {
            display: inline-block;
            padding: 15px 14px;
            line-height: 22px;
            font-size: 16px;
            margin-top: 3px;
        }
        .dl {
            margin-bottom: 16px;
            color: #666666;
            .dt,
            .dd {
                font-size: 12px;
                font-family: $xst;
                float: left;
            }
            .dt {
                width: 75px;
                height: 100%;
                text-indent: 14px;
            }
            //price
            .price_title {
                line-height: 33px;
            }
            .price {
                color: #d70000;
                font-weight: bold;
                font-family: $wryh;
                font-size: 22px;
                line-height: 23px;
                em {
                    line-height: 33px;
                    font-style: normal;
                    font-size: 12px;
                }
            }
            //hg
            .hg_title {
                line-height: 18px;
            }
            .hg {
                line-height: 18px;
                .hg_tag {
                    display: inline-block;
                    margin: 0 4px;
                    width: 54px;
                    height: 18px;
                    font-style: normal;
                    color: #fff;
                    text-indent: 14px;
                    background: url(../images/reviewpage_orange_tag.png) no-repeat;
                }
            }
        }
        //shopping_select_wrap
        .shopping_select_wrap {
            box-sizing: border-box;
            width: 668px;
            padding: 18px 0;
            background: #f2f2f2;
            margin-bottom: 18px;
            .arrive_title,
            .in_stock {
                line-height: 24px;
            }
            .select {
                width: 130px;
                height: 22px;
                background: #fff;
                line-height: 22px;
                padding-left: 6px;
                padding-right: 27px;
                position: relative;
                z-index: 4;
                border: 1px solid #bfbfbf;
                .select_local,
                h3 {
                    font-weight: normal;
                    font-family: $xst;
                    font-size: 12px;
                }
                .icon_triangle {
                    position: absolute;
                    top: 9px;
                    right: 9px;
                    display: inline-block;
                    width: 0px;
                    height: 0;
                    border-top: 4px solid #317ee7;
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                }
            }
            .select_local-list {
                width: 100%;
                background: #fff;
                position: absolute;
                left: -1px;
                top: 22px;
                border: 1px solid #bfbfbf;
            }
            .select_local-item {
                margin-left: 6px;
            }
            .in_stock {
                margin-left: 12px;
            }
            .color_select-title {
                line-height: 34px;
            }
            .color_select,
            .format_select {
                display: inline-block;
                background: #fff;
                border: 1px solid #bfbfbf;
                text-align: center;
                &:hover {
                    border: 1px solid #317ee7;
                    cursor: pointer;
                }
            }
            .color_select {
                padding: 0 28px;
                height: 32px;
                line-height: 32px;
            }
            .format_select-title {
                line-height: 60px;
            }
            .format_select-list {
                width: 510px;
                .format_select {
                    padding: 0 8px;
                    height: 24px;
                    line-height: 24px;
                    margin-bottom: 8px;
                    margin-right: 10px;
                }
            }
            //
            .amount-title {
                line-height: 34px;
            }
            .amount_compute_wrap {
                width: 82px;
                height: 32px;
                line-height: 32px;
                text-align: center;
                border: 1px solid #b2b2b2;
                .amount_compute {
                    display: inline-block;
                    width: 15px;
                    height: 30px;
                    background: #f3f3f3;
                }
                .amount_num {
                    height: 30px;
                    border: none;
                    text-align: center;
                    border-left: 1px solid #b2b2b2;
                    border-right: 1px solid #b2b2b2;
                    width: 50px;
                }
            }
        }
        .selected-title {
            line-height: 22px;
        }
        .selected {
            line-height: 20px;
        }
        .selected {
            color: #0479ca;
        }
        .addbuybtn_box {
            width: 523px;
            text-align: center;
            height: 90px;
            margin-bottom: 14px;
            .addbuybtn {
                display: inline-block;
                vertical-align: middle;
                height: 22px;
                text-align: center;
                background: #f98700;
                color: #fff;
                padding: 14px 18px;
                .icon_car {
                    margin: 0;
                    margin-right: 5px;
                    padding: 0;
                    display: inline-block;
                    width: 22px;
                    height: 19px;
                    margin-bottom: 5px;
                    vertical-align: middle;
                    overflow: hidden;
                    background: url(../images/shopcar.png) no-repeat;
                }
            }
            .line_h90 {
                display: inline-block;
                margin: 0 34px;
                height: 90px;
                overflow: hidden;
                width: 1px;
                background: #e5e5e5;
                vertical-align: middle;
            }
        }
        .zy {
            text-indent: 14px;
        }
    }
}

.sidebar {
    width: 188px;
    .aside {
        width: 188px;
        background: #ffffff;
        margin-bottom: 10px;
        border: 1px solid #cccccc;
        border-top: 3px solid #1d86cf;
        .title {
            width: 188px;
            height: 39px;
            background: #f3f3f3;
            line-height: 39px;
            border-bottom: 1px solid #cccccc;
            font-size: 14px;
            text-indent: 14px;
        }
        .item {
            width: 166px;
            padding-left: 12px;
            padding-bottom: 3px;
            font-size: 12px;
            .pic {
                height: 156px;
                width: 156px;
                line-height: 156px;
                text-align: center;
                img {
                    display: inline-block;
                    max-width: 156px;
                    max-height: 156px;
                    vertical-align: middle;
                }
            }
            .name {
                width: 180px;
                font-family: $xst;
                font-size: 12px;
                color: #999999;
                line-height: 18px;
                padding: 0;
            }
            .price {
                font-family: $wryh;
                line-height: 21px;
                color: #e34242;
            }
        }
    }
}

.product-intro {
    width: 788px;
    font-size: 12px;
    .product-intro-tabbar {
        width: 786px;
        height: 40px;
        .tab {
            width: 100%;
            height: 40px;
            .tab-item {
                box-sizing: border-box;
                background: #f3f3f3;
                float: left;
                width: 50%;
                height: 40px;
                line-height: 40px;
                text-align: center;
                border: 1px solid #cccccc;
                .spjs {
                    display: inline-block;
                    width: 20px;
                    height: 15px;
                    margin-right: 10px;
                    background: url(../images/reviewpage_icon_cpjs.png) no-repeat;
                }
                .sppj {
                    display: inline-block;
                    width: 19px;
                    height: 23px;
                    margin-right: 10px;
                    background: url(../images/reviewpage_icon_sppj.png) bottom no-repeat;
                }
            }
            .active {
                background: #0479ca;
                border: none;
                a {
                    color: #ffffff;
                }
            }
        }
    }
    .product_desciption {
        padding: 10px;
        background: #ffffff;
        border: 1px solid #cccccc;
        margin-bottom: 15px;
    }
    /* 广告位 */
    .ad {
        width: 760px;
        text-align: center;
        .ad_img {
            padding: 28px 0;
            display: inline-block;
            max-width: 760px;
        }
    }
    .desciption-item {
        padding-bottom: 18px;
        .desciption-item-title {
            width: 760px;
            height: 36px;
            line-height: 36px;
            border-bottom: 4px solid #d7d7d7;
            h3 {
                display: inline-block;
                height: 36px;
                padding: 0 10px;
                font-size: 16px;
                line-height: 36px;
                color: #2457a6;
                border-bottom: 4px solid #2457a6;
            }
        }
        .desciption-item-desc {
            width: 760px;
            padding: 15px 0;
            color: #666666;
            font-family: $st;
            font-size: 14px;
            line-height: 22px;
        }
        .desciption-item-pic {
            display: inline-block;
            max-width: 760px;
            background: #fff;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
    /*  商品评价 */
    .product-reviewbar,
    .product-reviewbar>* {
        box-sizing: border-box;
    }
    .product-reviewbar {
        border: 1px solid #cccccc;
        margin-bottom: 15px;
        .product-review_score_box {
            height: 160px;
            background: #ffffff;
            padding: 10px;
            .product-review_score-title {
                font-size: 14px;
                font-family: $xst;
                line-height: 22px;
                text-indent: 2px;
                margin-bottom: 15px;
            }
        }
        .product-review_score {
            .product-review_score-l {
                .product-review_score-score {
                    font-size: 18px;
                    color: #66667d;
                    .review_score_num {
                        font-size: 50px;
                        color: #ff8f00;
                    }
                }
            }
            .product-review_score-r {
                margin-left: 10px;
                .product-review_score-speed {
                    width: 450px;
                    height: 16px;
                    margin-top: 10px;
                    background: #bdbdbd;
                    color: #ffffff;
                    font-size: 12px;
                    position: relative;
                    .product-review_score-speed-text {
                        height: 100%;
                        li {
                            float: left;
                            font-family: $xst;
                        }
                        .score_01 {
                            width: 114px;
                            text-indent: 26px;
                        }
                        .score_02 {
                            width: 82px;
                        }
                        .score_03 {
                            width: 76px;
                        }
                        .score_04 {
                            width: 65px;
                        }
                    }
                    .score_num_icon {
                        width: 25px;
                        height: 18px;
                        top: -21px;
                        left: 91%;
                        text-align: center;
                        background: #fff;
                        position: absolute;
                        span {
                            display: inline-block;
                            width: 25px;
                            height: 14px;
                            line-height: 14px;
                            background: #7f7f7f;
                            margin-bottom: 4px;
                        }
                        i {
                            border-top: 4px solid #7f7f7f;
                            border-left: 4px solid transparent;
                            border-right: 4px solid transparent;
                        }
                    }
                }
                .product-review_count {
                    margin-top: 12px;
                    font-size: 12px;
                    color: #66667d;
                }
            }
        }
        .product-review_degree-tab {
            height: 33px;
            background: #f2f2f2;
            .degree {
                .degree-list {
                    margin-left: 20px;
                }
                .degree-item {
                    height: 29px;
                    line-height: 29px;
                    float: left;
                    padding: 0 6px;
                    color: #000000;
                    margin-right: 40px;
                    &:hover {
                        color: #317ee7;
                        border-bottom: 4px solid #317ee7;
                    }
                }
                .active {
                    color: #317ee7;
                    border-bottom: 4px solid #317ee7;
                }
            }
            .sort {
                height: 32px;
                .sort-list {
                    margin-top: 5px;
                    margin-right: 6px;
                }
                .sort-item {
                    float: left;
                    height: 20px;
                    padding: 0 5px;
                    line-height: 20px;
                    border: 1px solid #cdcdcd;
                    span {
                        display: inline-block;
                        margin-left: 4px;
                        padding-top: 2px;
                        em {
                            margin-left: 3px;
                            display: block;
                            width: 5px;
                            height: 5px;
                            background: #000;
                        }
                        i {
                            display: block;
                            border-top: 6px solid #000;
                            border-right: 5px solid transparent;
                            border-left: 6px solid transparent;
                        }
                    }
                }
            }
        }
        /* 评价详情栏 */
        .product-review_all {
            background: #ffffff;
            .product-review_all-item {
                padding-bottom: 35px;
                .review_user {
                    padding-left: 40px;
                    padding-top: 18px;
                    text-align: center;
                    .review_user_avatar {
                        width: 60px;
                        height: 60px;
                        margin-bottom: 5px;
                    }
                    .review_user_id,
                    .review_user_name {
                        line-height: 18px;
                        color: #77778c;
                    }
                }
                .the_review {
                    padding-top: 23px;
                    margin-left: 72px;
                    .star_degeree {
                        margin-bottom: 18px;
                        .star {
                            display: inline-block;
                            width: 13px;
                            height: 13px;
                            background: url(../images/star.png) no-repeat;
                        }
                        .star_num {
                            font-weight: bold;
                        }
                    }
                    .the_user_review {
                        color: #777777;
                        margin-bottom: 14px;
                    }
                    .good_or_bad {
                        color: #085c9b;
                        a {
                            color: #085c9b;
                            margin-right: 12px;
                        }
                    }
                }
                .review_time {
                    color: #777777;
                    padding-top: 26px;
                    padding-right: 24px;
                }
            }
        }
    }
    /* 咨询 */
    .product-advisory {
        background: #ffffff;
        .page {
            margin-left: 462px;
        }
        .product-advisory-top {
            height: 33px;
            color: #076ebb;
            border-bottom: 1px solid #076ebb;
            .advisory-top-title {
                height: 32px;
                line-height: 40px;
                font-size: 14px;
                font-family: $st;
                border: 1px solid #076ebb;
                border-bottom: 1px solid #ffffff;
                padding-left: 18px;
                padding-right: 14px;
            }
            .seed_advisory {
                line-height: 36px;
                margin-right: 26px;
            }
        }
        .product-advisory-prompt {
            box-sizing: border-box;
            margin-top: 10px;
            margin-left: 21px;
            margin-bottom: 28px;
            padding: 8px 20px;
            line-height: 25px;
            width: 754px;
            background: #f3f3f3;
            font-family: $st;
        }
        .product-advisory-item {
            padding-bottom: 36px;
            .advisory_user {
                margin-left: 64px;
                .advisory_user_name,
                .advisory_user_id {
                    text-align: center;
                }
            }
            .the_advisory {
                margin-left: 30px;
                width: 606px;
                font-family: $st;
                .zx_box {
                    margin-bottom: 14px;
                    .zx {
                        font-weight: bold;
                    }
                    .zx_time {
                        margin-right: 12px;
                        color: #777777;
                    }
                }
                .question,
                .answer {
                    color: #777777;
                }
                .question {
                    margin-bottom: 14px;
                }
                .boxtri {
                    position: absolute;
                    top: -5px;
                    left: 29px;
                    display: inline-block;
                    width: 0;
                    border-bottom: 5px solid #f1f1f1;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                }
                .answer {
                    position: relative;
                    box-sizing: border-box;
                    position: relative;
                    width: 604px;
                    background: #f1f1f1;
                    padding: 20px 28px;
                    span {
                        font-weight: bold;
                        color: #000000;
                    }
                }
            }
        }
    }
}

// 页面跳转
.page {
    margin-left: 274px;
    padding-bottom: 20px;
    .page_num_btn {
        text-align: center;
        a {
            display: inline-block;
            line-height: 23px;
            height: 23px;
            padding: 0 8px;
            border: 1px solid #999;
            margin-right: 5px;
        }
        .hl {
            display: inline-block;
            line-height: 26px;
            padding: 0px 12px;
            margin-right: 5px;
        }
    }
    .jump_page {
        .jump_page-font {
            line-height: 22px;
        }
        .page_num {
            height: 22px;
            width: 35px;
            line-height: 22px;
            margin: 0 3px;
            border: 1px solid #CCC;
            text-align: center;
        }
        .ok_btn {
            margin-left: 12px;
            border: 1px solid #707070;
            border-radius: 3px;
        }
    }
}