@charset "UTF-8";
/*
    产品分类页面样式 gategroy.css
*/
.hr_25 {
  display: block;
  height: 25px; }

.screen-page {
  margin-top: 16px;
  font-size: 12px; }
  .screen-page .gategroies_list {
    margin-right: 4px;
    width: 183px;
    border: 1px solid #d7d7d7;
    background: #f3f3f3; }
    .screen-page .gategroies_list .list-title {
      display: block;
      width: 183px;
      height: 34px;
      font-size: 14px;
      line-height: 34px;
      text-align: center;
      border-bottom: 1px solid #d7d7d7; }
    .screen-page .gategroies_list .item {
      width: 165px;
      font-size: 12px;
      line-height: 28px;
      padding-left: 18px;
      border-bottom: 1px dashed #d7d7d7; }
      .screen-page .gategroies_list .item .item-title {
        height: 28px;
        margin-top: 3px; }
      .screen-page .gategroies_list .item .item-content {
        padding-bottom: 10px; }
        .screen-page .gategroies_list .item .item-content li {
          padding-left: 8px;
          line-height: 22px;
          margin-left: 2px; }
          .screen-page .gategroies_list .item .item-content li a {
            display: inline-block;
            width: 80px; }
      .screen-page .gategroies_list .item:last-child {
        border-bottom: 1px solid #d7d7d7; }
    .screen-page .gategroies_list .goods_item {
      height: 80px;
      background: #ffffff; }
      .screen-page .gategroies_list .goods_item .pic {
        width: 80px;
        line-height: 80px;
        text-align: center; }
        .screen-page .gategroies_list .goods_item .pic img {
          vertical-align: middle; }
      .screen-page .gategroies_list .goods_item .title {
        padding-top: 10px;
        font-size: 12px;
        line-height: 18px; }
        .screen-page .gategroies_list .goods_item .title a {
          color: #999; }
      .screen-page .gategroies_list .goods_item .price {
        line-height: 18px;
        font-size: 12px;
        color: #ddd; }
  .screen-page .screen_main {
    width: 796px;
    margin-bottom: 14px;
    /* 状态类 */ }
    .screen-page .screen_main dl {
      width: 797px; }
    .screen-page .screen_main dt {
      font-size: 12px;
      text-align: right;
      width: 75px;
      margin-right: 40px;
      line-height: 32px; }
    .screen-page .screen_main dd {
      line-height: 32px;
      font-size: 12px; }
      .screen-page .screen_main dd a {
        padding: 3px; }
    .screen-page .screen_main .screen_list-top,
    .screen-page .screen_main .screen_list-bottom {
      border-bottom: 1px solid #ddd; }
    .screen-page .screen_main .screen_list-item {
      border-bottom: 1px dashed #ddd; }
    .screen-page .screen_main .limit {
      width: 55px; }
    .screen-page .screen_main .screen_content {
      width: 500px; }
      .screen-page .screen_main .screen_content ul {
        width: 526px; }
        .screen-page .screen_main .screen_content ul li {
          text-align: left;
          float: left;
          width: 25%; }
          .screen-page .screen_main .screen_content ul li a {
            color: #1d7ad9; }
    .screen-page .screen_main .screen_content-bottom li {
      float: left;
      margin-right: 9px; }
      .screen-page .screen_main .screen_content-bottom li a {
        display: inline-block;
        height: 23px;
        margin: 7px 0;
        border: 1px solid #ccc;
        line-height: 23px;
        text-indent: 10px; }
        .screen-page .screen_main .screen_content-bottom li a i {
          display: inline-block;
          width: 7px;
          height: 5px;
          vertical-align: middle;
          margin: 0 5px;
          background: url(../images/icon_v_gray.png) no-repeat; }
    .screen-page .screen_main .more {
      width: 43px;
      height: 32px;
      line-height: 32px; }
      .screen-page .screen_main .more i {
        vertical-align: middle;
        display: inline-block;
        width: 7px;
        height: 5px;
        margin-left: 4px;
        background: url(../images/icon_v_gray.png) left center no-repeat; }
    .screen-page .screen_main .active {
      background: #096dba;
      color: #fff; }
  .screen-page .screen_page-content {
    width: 795px;
    line-height: 31px; }
    .screen-page .screen_page-content .local_stocks {
      height: 31px;
      width: 795px;
      background: #f5f5f5;
      border: 1px solid #d9d9d9; }
      .screen-page .screen_page-content .local_stocks .local select {
        background: #ffffff url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent; }
      .screen-page .screen_page-content .local_stocks .local span {
        margin-left: 8px; }
      .screen-page .screen_page-content .local_stocks .stocks input,
      .screen-page .screen_page-content .local_stocks .stocks label {
        vertical-align: middle; }
      .screen-page .screen_page-content .local_stocks .stocks label {
        margin-right: 12px; }
      .screen-page .screen_page-content .local_stocks .stocks span {
        color: #999;
        margin-right: 12px; }
        .screen-page .screen_page-content .local_stocks .stocks span em {
          margin-left: 4px;
          margin-right: 2px;
          font-style: normal;
          color: #d80000; }
    .screen-page .screen_page-content .screen_content {
      width: 795px; }
      .screen-page .screen_page-content .screen_content .screen_content-item {
        width: 265px;
        margin-bottom: 5px;
        float: left; }
        .screen-page .screen_page-content .screen_content .screen_content-item .pic {
          display: inline-block;
          width: 265px;
          height: 257px;
          text-align: center; }
          .screen-page .screen_page-content .screen_content .screen_content-item .pic img {
            vertical-align: middle; }
        .screen-page .screen_page-content .screen_content .screen_content-item .title {
          height: 36px;
          width: 198px;
          margin-left: 59px;
          line-height: 18px; }
        .screen-page .screen_page-content .screen_content .screen_content-item .price {
          line-height: 18px;
          margin-top: 7px;
          margin-bottom: 8px;
          margin-left: 59px; }
          .screen-page .screen_page-content .screen_content .screen_content-item .price span {
            margin-right: 9px;
            font-weight: bold;
            color: #d70000; }
          .screen-page .screen_page-content .screen_content .screen_content-item .price em {
            font-style: normal;
            color: #1d7ad9; }
        .screen-page .screen_page-content .screen_content .screen_content-item .add_shopcar {
          width: 88px;
          height: 22px;
          margin-left: 63px;
          border: 1px solid #c3d5e7;
          line-height: 22px;
          color: #3b77bf; }
          .screen-page .screen_page-content .screen_content .screen_content-item .add_shopcar span {
            display: inline-block;
            width: 13px;
            height: 12px;
            margin-left: 6px;
            margin-right: 4px;
            vertical-align: middle;
            background: url(../images/blue-shopcar.png) no-repeat; }
      .screen-page .screen_page-content .screen_content .page {
        margin-left: 63px; }
        .screen-page .screen_page-content .screen_content .page .page_num_btn {
          text-align: center; }
          .screen-page .screen_page-content .screen_content .page .page_num_btn a {
            display: inline-block;
            line-height: 26px;
            padding: 0px 12px;
            border: 1px solid #999;
            margin-right: 5px; }
        .screen-page .screen_page-content .screen_content .page .jump_num span {
          line-height: 22px; }
        .screen-page .screen_page-content .screen_content .page .jump_num input {
          display: inline-block;
          padding: 0 15px; }

/*# sourceMappingURL=screen.css.map */
