/*
    产品分类页面样式 gategroy.css
*/

// 变量
$bdcolor:#d7d7d7;
$mainbbc:#096dba;
////
.hr_25 {
    display: block;
    height: 25px;
}

.screen-page {
    margin-top: 16px;
    font-size: 12px;
    .gategroies_list {
        margin-right: 4px;
        width: 183px;
        border: 1px solid $bdcolor;
        background: #f3f3f3;
        .list-title {
            display: block;
            width: 183px;
            height: 34px;
            font-size: 14px;
            line-height: 34px;
            text-align: center;
            border-bottom: 1px solid $bdcolor;
        }
        .item {
            width: 165px;
            font-size: 12px;
            line-height: 28px;
            padding-left: 18px;
            border-bottom: 1px dashed $bdcolor;
            .item-title {
                height: 28px;
                margin-top: 3px;
            }
            .item-content {
                padding-bottom: 10px;
                li {
                    padding-left: 8px;
                    ;
                    line-height: 22px;
                    margin-left: 2px;
                    a {
                        display: inline-block;
                        width: 80px;
                    }
                }
            }
            &:last-child {
                border-bottom: 1px solid $bdcolor;
            }
        }
        .goods_item {
            height: 80px;
            background: #ffffff;
            .pic {
                width: 80px;
                line-height: 80px;
                text-align: center;
                img {
                    vertical-align: middle;
                }
            }
            .title {
                padding-top: 10px;
                font-size: 12px;
                line-height: 18px;
                a {
                    color: #999;
                }
            }
            .price {
                line-height: 18px;
                font-size: 12px;
                color: #ddd;
            }
        }
    }
    .screen_main {
        width: 796px;
        margin-bottom: 14px;
        dl {
            width: 797px;
        }
        dt {
            font-size: 12px;
            text-align: right;
            width: 75px;
            margin-right: 40px;
            line-height: 32px;
        }
        dd {
            line-height: 32px;
            font-size: 12px;
            a {
                padding: 3px;
            }
        }
        .screen_list-top,
        .screen_list-bottom {
            border-bottom: 1px solid #ddd;
        }
        .screen_list-item {
            border-bottom: 1px dashed #ddd;
        }
        .limit {
            width: 55px;
        }
        .screen_content {
            width: 500px;
            ul {
                width: 526px;
                li {
                    text-align: left;
                    float: left;
                    width: 25%;
                    a {
                        color: #1d7ad9;
                    }
                }
            }
        }
        .screen_content-bottom {
            li {
                float: left;
                margin-right: 9px;
                a {
                    display: inline-block;
                    height: 23px;
                    margin: 7px 0;
                    border: 1px solid #ccc;
                    line-height: 23px;
                    text-indent: 10px;
                    i {
                        display: inline-block;
                        width: 7px;
                        height: 5px;
                        vertical-align: middle;
                        margin: 0 5px;
                        background: url(../images/icon_v_gray.png) no-repeat;
                    }
                }
            }
        }
        .more {
            width: 43px;
            height: 32px;
            line-height: 32px;
            i {
                vertical-align: middle;
                display: inline-block;
                width: 7px;
                height: 5px;
                margin-left: 4px;
                background: url(../images/icon_v_gray.png) left center no-repeat;
            }
        }
        /* 状态类 */
        .active {
            background: $mainbbc;
            color: #fff;
        }
    }
    .screen_page-content {
        width: 795px;
        line-height: 31px;
        border-bottom: 1px solid #d9d9d9;
        .local_stocks {
            height: 31px;
            width: 795px;
            background: #f5f5f5;
            border: 1px solid #d9d9d9;
            .local {
                select {
                    background: #ffffff url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;
                }
                span {
                    margin-left: 8px;
                }
            }
            .stocks {
                input,
                label {
                    vertical-align: middle;
                }
                label {
                    margin-right: 12px;
                }
                span {
                    color: #999;
                    margin-right: 12px;
                    em {
                        margin-left: 4px;
                        margin-right: 2px;
                        font-style: normal;
                        color: #d80000;
                    }
                }
            }
        }
        .screen_content {
            width: 795px;
            .screen_content-item {
                width: 265px;
                margin-bottom: 5px;
                float: left;
                .pic {
                    display: inline-block;
                    width: 265px;
                    height: 257px;
                    text-align: center;
                    img {
                        vertical-align: middle;
                    }
                }
                .title {
                    height: 36px;
                    width: 198px;
                    margin-left: 59px;
                    line-height: 18px;
                }
                .price {
                    line-height: 18px;
                    margin-top: 7px;
                    margin-bottom: 8px;
                    margin-left: 59px;
                    span {
                        margin-right: 9px;
                        font-weight: bold;
                        color: #d70000;
                    }
                    em {
                        font-style: normal;
                        color: #1d7ad9;
                    }
                }
                .add_shopcar {
                    width: 88px;
                    height: 22px;
                    margin-left: 63px;
                    border: 1px solid #c3d5e7;
                    line-height: 22px;
                    color: #3b77bf;
                    span {
                        display: inline-block;
                        width: 13px;
                        height: 12px;
                        margin-left: 6px;
                        margin-right: 4px;
                        vertical-align: middle;
                        background: url(../images/blue-shopcar.png) no-repeat;
                    }
                }
            }
        }
        .page {
            margin-left: 63px;
            .page_num_btn {
                text-align: center;
                a {
                    display: inline-block;
                    line-height: 26px;
                    padding: 0px 12px;
                    border: 1px solid #999;
                    margin-right: 5px;
                }
                .hl {
                    display: inline-block;
                    line-height: 26px;
                    padding: 0px 12px;
                    margin-right: 5px;
                }
            }
            .jump_page {
                margin-bottom: 20px;
                .jump_page-font {
                    line-height: 22px;
                }
                .page_num {
                    height: 22px;
                    width: 35px;
                    line-height: 22px;
                    margin: 0 3px;
                    border: 1px solid #CCC;
                    text-align: center;
                }
            }
        }
    }
}